In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas_datareader as pdr
import statsmodels.api as sm
import scipy.stats as scs
import glob
import os

In [28]:
path = r'C:\Users\Ferhat\Python Code\Github\Portfolio_Optimisation\PortfolioOptimisation\fund_series'                     # use your path
all_files = glob.glob(os.path.join(path, "*.csv"))     # advisable to use os.path.join as this makes concatenation OS independent

df_from_each_file = (pd.read_csv(f, index_col=False) for f in all_files)
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)

In [30]:
concatenated_df.drop([ 'High', 'Low', 'Open', 'Volume'], axis=1, inplace=True)

In [31]:
concatenated_df

              Date                                      Name  Close       NAV
0       12/01/1995              Allianz Technology Trust Ord    0.1       NaN
1       12/02/1995              Allianz Technology Trust Ord    0.1       NaN
2       12/03/1995              Allianz Technology Trust Ord    0.1       NaN
3       12/04/1995              Allianz Technology Trust Ord    0.1       NaN
4       12/05/1995              Allianz Technology Trust Ord    0.1       NaN
...            ...                                       ...    ...       ...
120970  08/31/2021  Vanguard FTSE Dev Wld ex-UK Eq Idx £ Inc    NaN  426.4283
120971  09/30/2021  Vanguard FTSE Dev Wld ex-UK Eq Idx £ Inc    NaN  416.8979
120972  10/31/2021  Vanguard FTSE Dev Wld ex-UK Eq Idx £ Inc    NaN  432.7863
120973  11/30/2021  Vanguard FTSE Dev Wld ex-UK Eq Idx £ Inc    NaN  432.8787
120974  12/31/2021  Vanguard FTSE Dev Wld ex-UK Eq Idx £ Inc    NaN  440.8873

[120975 rows x 4 columns]