In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas_datareader as pdr
import statsmodels.api as sm
import scipy.stats as scs
import glob
import os

In [4]:
path = r'C:\Users\Ferhat\Python Code\Github\Portfolio_Optimisation\PortfolioOptimisation\fund_series'                     # use your path
all_files = glob.glob(os.path.join(path, "*.csv"))     # advisable to use os.path.join as this makes concatenation OS independent

df_from_each_file = (pd.read_csv(f, index_col=False) for f in all_files)
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)

In [5]:
concatenated_df.drop([ 'High', 'Low', 'Open', 'Volume'], axis=1, inplace=True)

In [6]:
concatenated_df['Close'] = concatenated_df['Close'].fillna(concatenated_df['NAV'])

In [7]:
concatenated_df.drop(['NAV'], axis=1, inplace=True)

In [8]:
concatenated_df

              Date                             Name     Close
0       12/01/1995     Allianz Technology Trust Ord    0.1000
1       12/02/1995     Allianz Technology Trust Ord    0.1000
2       12/03/1995     Allianz Technology Trust Ord    0.1000
3       12/04/1995     Allianz Technology Trust Ord    0.1000
4       12/05/1995     Allianz Technology Trust Ord    0.1000
...            ...                              ...       ...
120819  01/17/2022  Vanguard Em Mkts Stk Idx £ Dist  206.8342
120820  01/18/2022  Vanguard Em Mkts Stk Idx £ Dist  205.6861
120821  01/19/2022  Vanguard Em Mkts Stk Idx £ Dist  204.7565
120822  01/20/2022  Vanguard Em Mkts Stk Idx £ Dist  206.9878
120823  01/21/2022  Vanguard Em Mkts Stk Idx £ Dist  206.6153

[120824 rows x 3 columns]

In [11]:
concatenated_df['Name'].unique()

array(['Allianz Technology Trust Ord', 'Fundsmith Equity I Inc',
       'GS India Equity R Inc GBP', 'HgCapital Trust Ord',
       'iShares Physical Gold ETC GBP', 'iShares Physical Silver ETC GBP',
       'iShares £ Corp Bond 0-5yr ETF GBP Dist',
       'JPM Global Macro Opportunities C Net Inc',
       'JPMorgan China Growth & Income Ord',
       'Montanaro European Smaller Ord', 'Pacific Horizon Ord',
       'Pictet - Global Envir Opps I dy GBP',
       'PIMCO GIS Glb Bd Instl GBPH Acc',
       'Rathbone Global Opportunities S Acc', 'Scottish Mortgage Ord',
       'Vanguard Em Mkts Stk Idx £ Dist'], dtype=object)

In [35]:
concatenated_df_pivot = concatenated_df.pivot(columns='Name', values='Close', index='Date')

TypeError: pivot() got an unexpected keyword argument 'dropna'

In [10]:
concatenated_df_pivot

Name,Allianz Technology Trust Ord,Fundsmith Equity I Inc,GS India Equity R Inc GBP,HgCapital Trust Ord,JPM Global Macro Opportunities C Net Inc,JPMorgan China Growth & Income Ord,Montanaro European Smaller Ord,PIMCO GIS Glb Bd Instl GBPH Acc,Pacific Horizon Ord,Pictet - Global Envir Opps I dy GBP,Rathbone Global Opportunities S Acc,Scottish Mortgage Ord,Vanguard Em Mkts Stk Idx £ Dist,iShares Physical Gold ETC GBP,iShares Physical Silver ETC GBP,iShares £ Corp Bond 0-5yr ETF GBP Dist
Date,,,,,,,,,,,,,,,,
01/01/1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.04852,NaN,NaN,NaN,NaN
01/01/1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.03852,NaN,NaN,NaN,NaN
01/01/1971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.03852,NaN,NaN,NaN,NaN
01/01/1972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05000,NaN,NaN,NaN,NaN
01/01/1973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.05000,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12/31/2017,1.169,3.3626,25.64,1.768,1.463,3.07,0.8140,21.11,3.155,175.50,0.994979,4.49000,194.1521,18.8750,12.1550,106.620
12/31/2018,1.220,3.4182,22.77,1.785,1.430,2.28,0.8175,20.98,2.895,154.58,0.989767,4.66950,171.1914,19.6975,11.7325,103.950
12/31/2019,1.647,4.2682,23.66,2.575,1.449,3.60,1.1200,22.38,3.300,207.95,1.249834,5.79000,189.8356,22.5800,13.2200,106.470
12/31/2020,2.970,5.0292,27.56,3.050,1.646,6.86,1.6525,23.88,7.540,271.91,1.644893,12.14000,213.5923,27.0800,18.6450,108.055
12/31/2021,3.525,6.1284,37.71,4.205,1.734,4.95,2.1950,23.49,8.710,322.99,1.981433,13.37500,204.8391,26.3150,16.4400,105.350

In [32]:
concatenated_df_pivot = concatenated_df_pivot.sort_values(by="Date", key=pd.to_datetime)

In [33]:
concatenated_df_pivot

Name,Allianz Technology Trust Ord,Fundsmith Equity I Inc,GS India Equity R Inc GBP,HgCapital Trust Ord,JPM Global Macro Opportunities C Net Inc,JPMorgan China Growth & Income Ord,Montanaro European Smaller Ord,PIMCO GIS Glb Bd Instl GBPH Acc,Pacific Horizon Ord,Pictet - Global Envir Opps I dy GBP,Rathbone Global Opportunities S Acc,Scottish Mortgage Ord,Vanguard Em Mkts Stk Idx £ Dist,iShares Physical Gold ETC GBP,iShares Physical Silver ETC GBP,iShares £ Corp Bond 0-5yr ETF GBP Dist
Date,,,,,,,,,,,,,,,,
12/31/1968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.04852,NaN,NaN,NaN,NaN
01/01/1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.04852,NaN,NaN,NaN,NaN
01/02/1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.04852,NaN,NaN,NaN,NaN
01/03/1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.04852,NaN,NaN,NaN,NaN
01/04/1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.04852,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
01/17/2022,3.015,5.6414,38.75,4.27,1.684,4.705,1.926,23.32,7.74,298.83,1.816589,11.49500,206.8342,25.98,16.1650,104.695
01/18/2022,2.910,5.6396,38.28,4.18,1.683,4.695,1.870,23.24,7.42,294.01,1.811566,11.18500,205.6861,26.03,16.5675,104.610
01/19/2022,2.885,5.5615,38.00,4.20,1.673,4.655,1.840,23.24,7.17,293.87,1.780737,11.18000,204.7565,26.32,16.9225,104.455
01/20/2022,2.930,5.5678,37.77,4.17,1.672,4.770,1.854,23.26,7.48,291.29,1.779031,11.54000,206.9878,26.29,17.2425,104.450
01/21/2022,2.770,5.5322,37.27,3.95,1.667,4.650,1.792,23.31,7.19,284.34,1.764304,11.09500,206.6153,26.39,17.2600,104.630

In [37]:
concatenated_df_pivot = concatenated_df_pivot.dropna()
concatenated_df_pivot

Name,Allianz Technology Trust Ord,Fundsmith Equity I Inc,GS India Equity R Inc GBP,HgCapital Trust Ord,JPM Global Macro Opportunities C Net Inc,JPMorgan China Growth & Income Ord,Montanaro European Smaller Ord,PIMCO GIS Glb Bd Instl GBPH Acc,Pacific Horizon Ord,Pictet - Global Envir Opps I dy GBP,Rathbone Global Opportunities S Acc,Scottish Mortgage Ord,Vanguard Em Mkts Stk Idx £ Dist,iShares Physical Gold ETC GBP,iShares Physical Silver ETC GBP,iShares £ Corp Bond 0-5yr ETF GBP Dist
Date,,,,,,,,,,,,,,,,
02/15/2013,0.34150,1.4101,10.29,1.0650,1.000,1.605,0.4870,17.60,1.65000,94.23,0.486706,1.657,156.3043,20.605,19.1000,105.690
02/16/2013,0.34150,1.4101,10.29,1.0650,1.000,1.605,0.4870,17.60,1.65000,94.23,0.486706,1.657,156.3043,20.605,19.1000,105.690
02/17/2013,0.34150,1.4101,10.29,1.0650,1.000,1.605,0.4870,17.60,1.65000,94.23,0.486706,1.657,156.3043,20.605,19.1000,105.690
02/18/2013,0.34275,1.4154,10.28,1.0830,1.005,1.595,0.4870,17.60,1.65500,94.13,0.487854,1.649,156.4186,20.685,19.1700,105.585
02/19/2013,0.34650,1.4159,10.37,1.0955,1.006,1.580,0.4875,17.60,1.66875,95.91,0.489336,1.672,156.7412,20.700,18.9300,105.690
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
01/17/2022,3.01500,5.6414,38.75,4.2700,1.684,4.705,1.9260,23.32,7.74000,298.83,1.816589,11.495,206.8342,25.980,16.1650,104.695
01/18/2022,2.91000,5.6396,38.28,4.1800,1.683,4.695,1.8700,23.24,7.42000,294.01,1.811566,11.185,205.6861,26.030,16.5675,104.610
01/19/2022,2.88500,5.5615,38.00,4.2000,1.673,4.655,1.8400,23.24,7.17000,293.87,1.780737,11.180,204.7565,26.320,16.9225,104.455
01/20/2022,2.93000,5.5678,37.77,4.1700,1.672,4.770,1.8540,23.26,7.48000,291.29,1.779031,11.540,206.9878,26.290,17.2425,104.450
01/21/2022,2.77000,5.5322,37.27,3.9500,1.667,4.650,1.7920,23.31,7.19000,284.34,1.764304,11.095,206.6153,26.390,17.2600,104.630